@model TheVetsWebsite.Models.Animal
@{
    ViewBag.Title = "Index";
}

<h2>Breed Search</h2>
<br />

@using (Html.BeginForm("Search", "Animals"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.breed)
        @Html.TextBoxFor(m => m.breed, new { @class = "form-control" })
    </div>
}